NET "CPU_RESET" LOC = "N4";
NET "DDR2_A0" LOC = "J7";
NET "DDR2_A1" LOC = "J6";
NET "DDR2_A2" LOC = "H5";
NET "DDR2_A3" LOC = "L7";
NET "DDR2_A4" LOC = "F3";
NET "DDR2_A5" LOC = "H4";
NET "DDR2_A6" LOC = "H3";
NET "DDR2_A7" LOC = "H6";
NET "DDR2_A8" LOC = "D2";
NET "DDR2_A9" LOC = "D1";
NET "DDR2_A10" LOC = "F4";
NET "DDR2_A11" LOC = "D3";
NET "DDR2_A12" LOC = "G6";
NET "DDR2_BA0" LOC = "F2";
NET "DDR2_BA1" LOC = "F1";
NET "DDR2_BA2" LOC = "E1";
NET "DDR2_CAS_B" LOC = "K5";
NET "DDR2_CKE" LOC = "H7";
NET "DDR2_CLK_N" LOC = "G1";
NET "DDR2_CLK_P" LOC = "G3";
NET "DDR2_DQ0" LOC = "L2";
NET "DDR2_DQ1" LOC = "L1";
NET "DDR2_DQ2" LOC = "K2";
NET "DDR2_DQ3" LOC = "K1";
NET "DDR2_DQ4" LOC = "H2";
NET "DDR2_DQ5" LOC = "H1";
NET "DDR2_DQ6" LOC = "J3";
NET "DDR2_DQ7" LOC = "J1";
NET "DDR2_DQ8" LOC = "M3";
NET "DDR2_DQ9" LOC = "M1";
NET "DDR2_DQ10" LOC = "N2";
NET "DDR2_DQ11" LOC = "N1";
NET "DDR2_DQ12" LOC = "T2";
NET "DDR2_DQ13" LOC = "T1";
NET "DDR2_DQ14" LOC = "U2";
NET "DDR2_DQ15" LOC = "U1";
NET "DDR2_LDM" LOC = "K3";
NET "DDR2_LDQS_N" LOC = "L3";
NET "DDR2_LDQS_P" LOC = "L4";
NET "DDR2_ODT" LOC = "K6";
NET "DDR2_RAS_B" LOC = "L5";
NET "DDR2_UDM" LOC = "K4";
NET "DDR2_UDQS_N" LOC = "P1";
NET "DDR2_UDQS_P" LOC = "P2";
NET "DDR2_WE_B" LOC = "E3";
NET "FLASH_A0" LOC = "K18";
NET "FLASH_A1" LOC = "K17";
NET "FLASH_A2" LOC = "J18";
NET "FLASH_A3" LOC = "J16";
NET "FLASH_A4" LOC = "G18";
NET "FLASH_A5" LOC = "G16";
NET "FLASH_A6" LOC = "H16";
NET "FLASH_A7" LOC = "H15";
NET "FLASH_A8" LOC = "H14";
NET "FLASH_A9" LOC = "H13";
NET "FLASH_A10" LOC = "F18";
NET "FLASH_A11" LOC = "F17";
NET "FLASH_A12" LOC = "K13";
NET "FLASH_A13" LOC = "K12";
NET "FLASH_A14" LOC = "E18";
NET "FLASH_A15" LOC = "E16";
NET "FLASH_A16" LOC = "G13";
NET "FLASH_A17" LOC = "H12";
NET "FLASH_A18" LOC = "D18";
NET "FLASH_A19" LOC = "D17";
NET "FLASH_A20" LOC = "G14";
NET "FLASH_A21" LOC = "F14";
NET "FLASH_A22" LOC = "C18";
NET "FLASH_A23" LOC = "C17";
NET "FLASH_A24" LOC = "F16";
NET "FLASH_CE_B" LOC = "L17";
NET "FLASH_D3" LOC = "U5";
NET "FLASH_D4" LOC = "V5";
NET "FLASH_D5" LOC = "R3";
NET "FLASH_D6" LOC = "T3";
NET "FLASH_D7" LOC = "R5";
NET "FLASH_OE_B" LOC = "L18";
NET "FLASH_WE_B" LOC = "M16";
NET "FMC_CLK0_M2C_N" LOC = "A10";
NET "FMC_CLK0_M2C_P" LOC = "C10";
NET "FMC_CLK1_M2C_N" LOC = "V9";
NET "FMC_CLK1_M2C_P" LOC = "T9";
NET "FMC_LA00_CC_N" LOC = "C9";
NET "FMC_LA00_CC_P" LOC = "D9";
NET "FMC_LA01_CC_N" LOC = "C11";
NET "FMC_LA01_CC_P" LOC = "D11";
NET "FMC_LA02_N" LOC = "A15";
NET "FMC_LA02_P" LOC = "C15";
NET "FMC_LA03_N" LOC = "A13";
NET "FMC_LA03_P" LOC = "C13";
NET "FMC_LA04_N" LOC = "A16";
NET "FMC_LA04_P" LOC = "B16";
NET "FMC_LA05_N" LOC = "A14";
NET "FMC_LA05_P" LOC = "B14";
NET "FMC_LA06_N" LOC = "C12";
NET "FMC_LA06_P" LOC = "D12";
NET "FMC_LA07_N" LOC = "E8";
NET "FMC_LA07_P" LOC = "E7";
NET "FMC_LA08_N" LOC = "E11";
NET "FMC_LA08_P" LOC = "F11";
NET "FMC_LA09_N" LOC = "F10";
NET "FMC_LA09_P" LOC = "G11";
NET "FMC_LA10_N" LOC = "C8";
NET "FMC_LA10_P" LOC = "D8";
NET "FMC_LA11_N" LOC = "A12";
NET "FMC_LA11_P" LOC = "B12";
NET "FMC_LA12_N" LOC = "C6";
NET "FMC_LA12_P" LOC = "D6";
NET "FMC_LA13_N" LOC = "A11";
NET "FMC_LA13_P" LOC = "B11";
NET "FMC_LA14_N" LOC = "A2";
NET "FMC_LA14_P" LOC = "B2";
NET "FMC_LA15_N" LOC = "F9";
NET "FMC_LA15_P" LOC = "G9";
NET "FMC_LA16_N" LOC = "A7";
NET "FMC_LA16_P" LOC = "C7";
NET "FMC_LA17_CC_N" LOC = "T8";
NET "FMC_LA17_CC_P" LOC = "R8";
NET "FMC_LA18_CC_N" LOC = "T10";
NET "FMC_LA18_CC_P" LOC = "R10";
NET "FMC_LA19_N" LOC = "P7";
NET "FMC_LA19_P" LOC = "N6";
NET "FMC_LA20_N" LOC = "P8";
NET "FMC_LA20_P" LOC = "N7";
NET "FMC_LA21_N" LOC = "V4";
NET "FMC_LA21_P" LOC = "T4";
NET "FMC_LA22_N" LOC = "T7";
NET "FMC_LA22_P" LOC = "R7";
NET "FMC_LA23_N" LOC = "P6";
NET "FMC_LA23_P" LOC = "N5";
NET "FMC_LA24_N" LOC = "V8";
NET "FMC_LA24_P" LOC = "U8";
NET "FMC_LA25_N" LOC = "N11";
NET "FMC_LA25_P" LOC = "M11";
NET "FMC_LA26_N" LOC = "V7";
NET "FMC_LA26_P" LOC = "U7";
NET "FMC_LA27_N" LOC = "T11";
NET "FMC_LA27_P" LOC = "R11";
NET "FMC_LA28_N" LOC = "V11";
NET "FMC_LA28_P" LOC = "U11";
NET "FMC_LA29_N" LOC = "N8";
NET "FMC_LA29_P" LOC = "M8";
NET "FMC_LA30_N" LOC = "V12";
NET "FMC_LA30_P" LOC = "T12";
NET "FMC_LA31_N" LOC = "V6";
NET "FMC_LA31_P" LOC = "T6";
NET "FMC_LA32_N" LOC = "V15";
NET "FMC_LA32_P" LOC = "U15";
NET "FMC_LA33_N" LOC = "N9";
NET "FMC_LA33_P" LOC = "M10";
NET "FMC_PRSNT_M2C_L" LOC = "U13";
NET "FMC_PWR_GOOD_FLASH_RST_B" LOC = "B3";
NET "FPGA_AWAKE" LOC = "P15";
NET "FPGA_CCLK" LOC = "R15";
NET "FPGA_CMP_CLK" LOC = "U16";
NET "FPGA_CMP_CS_B" LOC = "P13";
NET "FPGA_CMP_MOSI" LOC = "V16";
NET "FPGA_D0_DIN_MISO_MISO1" LOC = "R13";
NET "FPGA_D1_MISO2" LOC = "T14";
NET "FPGA_D2_MISO3" LOC = "V14";
NET "FPGA_DONE" LOC = "V17";
NET "FPGA_HSWAPEN" LOC = "D4";
NET "FPGA_INIT_B" LOC = "U3";
NET "FPGA_M0_CMP_MISO" LOC = "T15";
NET "FPGA_M1" LOC = "N12";
NET "FPGA_MOSI_CSI_B_MISO0" LOC = "T13";
NET "FPGA_ONCHIP_TERM1" LOC = "L6";
NET "FPGA_ONCHIP_TERM2" LOC = "C2";
NET "FPGA_PROG_B" LOC = "V2";
NET "FPGA_SUSPEND" LOC = "R16";
NET "FPGA_TCK_BUF" LOC = "A17";
NET "FPGA_TDI_BUF" LOC = "D15";
NET "FPGA_TDO" LOC = "D16";
NET "FPGA_TMS_BUF" LOC = "B18";
NET "FPGA_VTEMP" LOC = "P3";
NET "GPIO_BUTTON0" LOC = "P4";
NET "GPIO_BUTTON1" LOC = "F6";
NET "GPIO_BUTTON2" LOC = "E4";
NET "GPIO_BUTTON3" LOC = "F5";
NET "GPIO_HDR0" LOC = "N17";
NET "GPIO_HDR1" LOC = "M18";
NET "GPIO_HDR2" LOC = "A3";
NET "GPIO_HDR3" LOC = "L15";
NET "GPIO_HDR4" LOC = "F15";
NET "GPIO_HDR5" LOC = "B4";
NET "GPIO_HDR6" LOC = "F13";
NET "GPIO_HDR7" LOC = "P12";
NET "GPIO_LED_0" LOC = "E13";
NET "GPIO_LED_1" LOC = "C14";
NET "GPIO_LED_2" LOC = "C4";
NET "GPIO_LED_3" LOC = "A4";
NET "GPIO_SWITCH_0" LOC = "D14";
NET "GPIO_SWITCH_1" LOC = "E12";
NET "GPIO_SWITCH_2" LOC = "F12";
NET "GPIO_SWITCH_3" LOC = "V13";
NET "IIC_SCL_MAIN" LOC = "P11";
NET "IIC_SDA_MAIN" LOC = "N10";
NET "PHY_COL" LOC = "L14";
NET "PHY_CRS" LOC = "M13";
NET "PHY_INT" LOC = "J13";
NET "PHY_MDC" LOC = "N14";
NET "PHY_MDIO" LOC = "P16";
NET "PHY_RESET" LOC = "L13";
NET "PHY_RXCLK" LOC = "L16";
NET "PHY_RXCTL_RXDV" LOC = "N18";
NET "PHY_RXD0" LOC = "M14";
NET "PHY_RXD1" LOC = "U18";
NET "PHY_RXD2" LOC = "U17";
NET "PHY_RXD3" LOC = "T18";
NET "PHY_RXD4" LOC = "T17";
NET "PHY_RXD5" LOC = "N16";
NET "PHY_RXD6" LOC = "N15";
NET "PHY_RXD7" LOC = "P18";
NET "PHY_RXER" LOC = "P17";
NET "PHY_TXCLK" LOC = "B9";
NET "PHY_TXCTL_TXEN" LOC = "B8";
NET "PHY_TXC_GTXCLK" LOC = "A9";
NET "PHY_TXD0" LOC = "F8";
NET "PHY_TXD1" LOC = "G8";
NET "PHY_TXD2" LOC = "A6";
NET "PHY_TXD3" LOC = "B6";
NET "PHY_TXD4" LOC = "E6";
NET "PHY_TXD5" LOC = "F7";
NET "PHY_TXD6" LOC = "A5";
NET "PHY_TXD7" LOC = "C5";
NET "PHY_TXER" LOC = "A8";
NET "SMACLK_N" LOC = "H18";
NET "SMACLK_P" LOC = "H17";
NET "SPI_CS_B" LOC = "V3";
NET "SYSCLK_N" LOC = "K16";
NET "SYSCLK_P" LOC = "K15";
NET "USB_1_CTS" LOC = "U10";
NET "USB_1_RTS" LOC = "T5";
NET "USB_1_RX" LOC = "L12";
NET "USB_1_TX" LOC = "K14";
NET "USER_CLOCK" LOC = "V10";
