NET "CLK_33MHZ_SYSACE"              LOC = "AE16";   ## 93  on U19
NET "CPU_RESET"                     LOC = "H10";    ## 2   on SW10 pushbutton (active-high)
##
NET "DDR3_A0"                       LOC = "L14";    ## 98  on J1
NET "DDR3_A1"                       LOC = "A16";    ## 97  on J1
NET "DDR3_A2"                       LOC = "B16";    ## 96  on J1
NET "DDR3_A3"                       LOC = "E16";    ## 95  on J1
NET "DDR3_A4"                       LOC = "D16";    ## 92  on J1
NET "DDR3_A5"                       LOC = "J17";    ## 91  on J1
NET "DDR3_A6"                       LOC = "A15";    ## 90  on J1
NET "DDR3_A7"                       LOC = "B15";    ## 86  on J1
NET "DDR3_A8"                       LOC = "G15";    ## 89  on J1
NET "DDR3_A9"                       LOC = "F15";    ## 85  on J1
NET "DDR3_A10"                      LOC = "M16";    ## 107 on J1
NET "DDR3_A11"                      LOC = "M15";    ## 84  on J1
NET "DDR3_A12"                      LOC = "H15";    ## 83  on J1
NET "DDR3_A13"                      LOC = "J15";    ## 119 on J1
NET "DDR3_A14"                      LOC = "D15";    ## 80  on J1
NET "DDR3_A15"                      LOC = "C15";    ## 78  on J1
NET "DDR3_BA0"                      LOC = "K19";    ## 109 on J1
NET "DDR3_BA1"                      LOC = "J19";    ## 108 on J1
NET "DDR3_BA2"                      LOC = "L15";    ## 79  on J1
NET "DDR3_CAS_B"                    LOC = "C17";    ## 115 on J1
NET "DDR3_CKE0"                     LOC = "M18";    ## 73  on J1
NET "DDR3_CKE1"                     LOC = "M17";    ## 74  on J1
NET "DDR3_CLK0_N"                   LOC = "H18";    ## 103 on J1
NET "DDR3_CLK0_P"                   LOC = "G18";    ## 101 on J1
NET "DDR3_CLK1_N"                   LOC = "L16";    ## 104 on J1
NET "DDR3_CLK1_P"                   LOC = "K16";    ## 102 on J1
NET "DDR3_D0"                       LOC = "J11";    ## 5   on J1
NET "DDR3_D1"                       LOC = "E13";    ## 7   on J1
NET "DDR3_D2"                       LOC = "F13";    ## 15  on J1
NET "DDR3_D3"                       LOC = "K11";    ## 17  on J1
NET "DDR3_D4"                       LOC = "L11";    ## 4   on J1
NET "DDR3_D5"                       LOC = "K13";    ## 6   on J1
NET "DDR3_D6"                       LOC = "K12";    ## 16  on J1
NET "DDR3_D7"                       LOC = "D11";    ## 18  on J1
NET "DDR3_D8"                       LOC = "M13";    ## 21  on J1
NET "DDR3_D9"                       LOC = "J14";    ## 23  on J1
NET "DDR3_D10"                      LOC = "B13";    ## 33  on J1
NET "DDR3_D11"                      LOC = "B12";    ## 35  on J1
NET "DDR3_D12"                      LOC = "G10";    ## 22  on J1
NET "DDR3_D13"                      LOC = "M11";    ## 24  on J1
NET "DDR3_D14"                      LOC = "C12";    ## 34  on J1
NET "DDR3_D15"                      LOC = "A11";    ## 36  on J1
NET "DDR3_D16"                      LOC = "G11";    ## 39  on J1
NET "DDR3_D17"                      LOC = "F11";    ## 41  on J1
NET "DDR3_D18"                      LOC = "D14";    ## 51  on J1
NET "DDR3_D19"                      LOC = "C14";    ## 53  on J1
NET "DDR3_D20"                      LOC = "G12";    ## 40  on J1
NET "DDR3_D21"                      LOC = "G13";    ## 42  on J1
NET "DDR3_D22"                      LOC = "F14";    ## 50  on J1
NET "DDR3_D23"                      LOC = "H14";    ## 52  on J1
NET "DDR3_D24"                      LOC = "C19";    ## 57  on J1
NET "DDR3_D25"                      LOC = "G20";    ## 59  on J1
NET "DDR3_D26"                      LOC = "E19";    ## 67  on J1
NET "DDR3_D27"                      LOC = "F20";    ## 69  on J1
NET "DDR3_D28"                      LOC = "A20";    ## 56  on J1
NET "DDR3_D29"                      LOC = "A21";    ## 58  on J1
NET "DDR3_D30"                      LOC = "E22";    ## 68  on J1
NET "DDR3_D31"                      LOC = "E23";    ## 70  on J1
NET "DDR3_D32"                      LOC = "G21";    ## 129 on J1
NET "DDR3_D33"                      LOC = "B21";    ## 131 on J1
NET "DDR3_D34"                      LOC = "A23";    ## 141 on J1
NET "DDR3_D35"                      LOC = "A24";    ## 143 on J1
NET "DDR3_D36"                      LOC = "C20";    ## 130 on J1
NET "DDR3_D37"                      LOC = "D20";    ## 132 on J1
NET "DDR3_D38"                      LOC = "J20";    ## 140 on J1
NET "DDR3_D39"                      LOC = "G22";    ## 142 on J1
NET "DDR3_D40"                      LOC = "D26";    ## 147 on J1
NET "DDR3_D41"                      LOC = "F26";    ## 149 on J1
NET "DDR3_D42"                      LOC = "B26";    ## 157 on J1
NET "DDR3_D43"                      LOC = "E26";    ## 159 on J1
NET "DDR3_D44"                      LOC = "C24";    ## 146 on J1
NET "DDR3_D45"                      LOC = "D25";    ## 148 on J1
NET "DDR3_D46"                      LOC = "D27";    ## 158 on J1
NET "DDR3_D47"                      LOC = "C25";    ## 160 on J1
NET "DDR3_D48"                      LOC = "C27";    ## 163 on J1
NET "DDR3_D49"                      LOC = "B28";    ## 165 on J1
NET "DDR3_D50"                      LOC = "D29";    ## 175 on J1
NET "DDR3_D51"                      LOC = "B27";    ## 177 on J1
NET "DDR3_D52"                      LOC = "G27";    ## 164 on J1
NET "DDR3_D53"                      LOC = "A28";    ## 166 on J1
NET "DDR3_D54"                      LOC = "E24";    ## 174 on J1
NET "DDR3_D55"                      LOC = "G25";    ## 176 on J1
NET "DDR3_D56"                      LOC = "F28";    ## 181 on J1
NET "DDR3_D57"                      LOC = "B31";    ## 183 on J1
NET "DDR3_D58"                      LOC = "H29";    ## 191 on J1
NET "DDR3_D59"                      LOC = "H28";    ## 193 on J1
NET "DDR3_D60"                      LOC = "B30";    ## 180 on J1
NET "DDR3_D61"                      LOC = "A30";    ## 182 on J1
NET "DDR3_D62"                      LOC = "E29";    ## 192 on J1
NET "DDR3_D63"                      LOC = "F29";    ## 194 on J1
NET "DDR3_DM0"                      LOC = "E11";    ## 11  on J1
NET "DDR3_DM1"                      LOC = "B11";    ## 28  on J1
NET "DDR3_DM2"                      LOC = "E14";    ## 46  on J1
NET "DDR3_DM3"                      LOC = "D19";    ## 63  on J1
NET "DDR3_DM4"                      LOC = "B22";    ## 136 on J1
NET "DDR3_DM5"                      LOC = "A26";    ## 153 on J1
NET "DDR3_DM6"                      LOC = "A29";    ## 170 on J1
NET "DDR3_DM7"                      LOC = "A31";    ## 187 on J1
NET "DDR3_DQS0_N"                   LOC = "E12";    ## 10  on J1
NET "DDR3_DQS0_P"                   LOC = "D12";    ## 12  on J1
NET "DDR3_DQS1_N"                   LOC = "J12";    ## 27  on J1
NET "DDR3_DQS1_P"                   LOC = "H12";    ## 29  on J1
NET "DDR3_DQS2_N"                   LOC = "A14";    ## 45  on J1
NET "DDR3_DQS2_P"                   LOC = "A13";    ## 47  on J1
NET "DDR3_DQS3_N"                   LOC = "H20";    ## 62  on J1
NET "DDR3_DQS3_P"                   LOC = "H19";    ## 64  on J1
NET "DDR3_DQS4_N"                   LOC = "C23";    ## 135 on J1
NET "DDR3_DQS4_P"                   LOC = "B23";    ## 137 on J1
NET "DDR3_DQS5_N"                   LOC = "A25";    ## 152 on J1
NET "DDR3_DQS5_P"                   LOC = "B25";    ## 154 on J1
NET "DDR3_DQS6_N"                   LOC = "G28";    ## 169 on J1
NET "DDR3_DQS6_P"                   LOC = "H27";    ## 171 on J1
NET "DDR3_DQS7_N"                   LOC = "D30";    ## 186 on J1
NET "DDR3_DQS7_P"                   LOC = "C30";    ## 188 on J1
NET "DDR3_ODT0"                     LOC = "F18";    ## 116 on J1
NET "DDR3_ODT1"                     LOC = "E17";    ## 120 on J1
NET "DDR3_RAS_B"                    LOC = "L19";    ## 110 on J1
NET "DDR3_RESET_B"                  LOC = "E18";    ## 30  on J1
NET "DDR3_S0_B"                     LOC = "K18";    ## 114 on J1
NET "DDR3_S1_B"                     LOC = "K17";    ## 121 on J1
NET "DDR3_TEMP_EVENT"               LOC = "D17";    ## 198 on J1
NET "DDR3_WE_B"                     LOC = "B17";    ## 113 on J1
##
NET "DVI_D0"                        LOC = "AJ19";   ## 63 on U38 (thru series R111 47.5 ohm)
NET "DVI_D1"                        LOC = "AH19";   ## 62 on U38 (thru series R110 47.5 ohm)
NET "DVI_D2"                        LOC = "AM17";   ## 61 on U38 (thru series R109 47.5 ohm)
NET "DVI_D3"                        LOC = "AM16";   ## 60 on U38 (thru series R108 47.5 ohm)
NET "DVI_D4"                        LOC = "AD17";   ## 59 on U38 (thru series R107 47.5 ohm)
NET "DVI_D5"                        LOC = "AE17";   ## 58 on U38 (thru series R106 47.5 ohm)
NET "DVI_D6"                        LOC = "AK18";   ## 55 on U38 (thru series R105 47.5 ohm)
NET "DVI_D7"                        LOC = "AK17";   ## 54 on U38 (thru series R104 47.5 ohm)
NET "DVI_D8"                        LOC = "AE18";   ## 53 on U38 (thru series R103 47.5 ohm)
NET "DVI_D9"                        LOC = "AF18";   ## 52 on U38 (thru series R102 47.5 ohm)
NET "DVI_D10"                       LOC = "AL16";   ## 51 on U38 (thru series R101 47.5 ohm)
NET "DVI_D11"                       LOC = "AK16";   ## 50 on U38 (thru series R100 47.5 ohm)
NET "DVI_DE"                        LOC = "AD16";   ## 2  on U38 (thru series R112 47.5 ohm)
NET "DVI_GPIO1_FMC_C2M_PG_LS"       LOC = "K9";     ## 18 on U32 (not wired to U38)
NET "DVI_H"                         LOC = "AN17";   ## 4  on U38 (thru series R113 47.5 ohm)
NET "DVI_RESET_B_LS"                LOC = "AP17";   ## 2  on U32 (DVI_RESET_B pin 13 on U38)
NET "DVI_V"                         LOC = "AD15";   ## 5  on U38 (thru series R114 47.5 ohm)
NET "DVI_XCLK_N"                    LOC = "AC17";   ## 56 on U38
NET "DVI_XCLK_P"                    LOC = "AC18";   ## 57 on U38
##
NET "FLASH_A0"                      LOC = "AL8";    ## 29 on U4, A1 on U27
NET "FLASH_A1"                      LOC = "AK8";    ## 25 on U4, B1 on U27
NET "FLASH_A2"                      LOC = "AC9";    ## 24 on U4, C1 on U27
NET "FLASH_A3"                      LOC = "AD10";   ## 23 on U4, D1 on U27
NET "FLASH_A4"                      LOC = "C8";     ## 22 on U4, D2 on U27
NET "FLASH_A5"                      LOC = "B8";     ## 21 on U4, A2 on U27
NET "FLASH_A6"                      LOC = "E9";     ## 20 on U4, C2 on U27
NET "FLASH_A7"                      LOC = "E8";     ## 19 on U4, A3 on U27
NET "FLASH_A8"                      LOC = "A8";     ## 8  on U4, B3 on U27
NET "FLASH_A9"                      LOC = "A9";     ## 7  on U4, C3 on U27
NET "FLASH_A10"                     LOC = "D9";     ## 6  on U4, D3 on U27
NET "FLASH_A11"                     LOC = "C9";     ## 5  on U4, C4 on U27
NET "FLASH_A12"                     LOC = "D10";    ## 4  on U4, A5 on U27
NET "FLASH_A13"                     LOC = "C10";    ## 3  on U4, B5 on U27
NET "FLASH_A14"                     LOC = "F10";    ## 2  on U4, C5 on U27
NET "FLASH_A15"                     LOC = "F9";     ## 1  on U4, D7 on U27
NET "FLASH_A16"                     LOC = "AH8";    ## 55 on U4, D8 on U27
NET "FLASH_A17"                     LOC = "AG8";    ## 18 on U4, A7 on U27
NET "FLASH_A18"                     LOC = "AP9";    ## 17 on U4, B7 on U27
NET "FLASH_A19"                     LOC = "AN9";    ## 16 on U4, C7 on U27
NET "FLASH_A20"                     LOC = "AF10";   ## 11 on U4, C8 on U27
NET "FLASH_A21"                     LOC = "AF9";    ## 10 on U4, A8 on U27
NET "FLASH_A22"                     LOC = "AL9";    ## 9  on U4, G1 on U27
NET "FLASH_A23"                     LOC = "AA23";   ## 26 on U4
NET "FLASH_D0"                      LOC = "AF24";   ## 34 on U4, F2 on U27
NET "FLASH_D1"                      LOC = "AF25";   ## 36 on U4, E2 on U27
NET "FLASH_D2"                      LOC = "W24";    ## 39 on U4, G3 on U27
NET "FLASH_D3"                      LOC = "V24";    ## 41 on U4, E4 on U27
NET "FLASH_D4"                      LOC = "H24";    ## 47 on U4, E5 on U27
NET "FLASH_D5"                      LOC = "H25";    ## 49 on U4, G5 on U27
NET "FLASH_D6"                      LOC = "P24";    ## 51 on U4, G6 on U27
NET "FLASH_D7"                      LOC = "R24";    ## 53 on U4, H7 on U27
NET "FLASH_D8"                      LOC = "G23";    ## 35 on U4, E1 on U27
NET "FLASH_D9"                      LOC = "H23";    ## 37 on U4, E3 on U27
NET "FLASH_D10"                     LOC = "N24";    ## 40 on U4, F3 on U27
NET "FLASH_D11"                     LOC = "N23";    ## 42 on U4, F4 on U27
NET "FLASH_D12"                     LOC = "F23";    ## 48 on U4, F5 on U27
NET "FLASH_D13"                     LOC = "F24";    ## 50 on U4, H5 on U27
NET "FLASH_D14"                     LOC = "L24";    ## 52 on U4, G7 on U27
NET "FLASH_D15"                     LOC = "M23";    ## 54 on U4, E7 on U27
NET "FLASH_WAIT"                    LOC = "J26";    ## 56 on U4
NET "FPGA_FWE_B"                    LOC = "AF23";   ## 14 on U4, G8 on U27
NET "FPGA_FOE_B"                    LOC = "AA24";   ## 32 on U4, F8 on U27
NET "FPGA_CCLK"                     LOC = "K8";     ##           F1 on U27
NET "PLATFLASH_L_B"                 LOC = "AC23";   ##           H1 on U27
NET "FPGA_FCS_B"                    LOC = "Y24";    ## 30 on U4, B4 on U27 (U10 and switch S2.2 setting select either U4 or U27)
##
NET "FMC_HPC_CLK0_M2C_N"            LOC = "K23";    ## H5  on J64
NET "FMC_HPC_CLK0_M2C_P"            LOC = "K24";    ## H4  on J64
NET "FMC_HPC_CLK1_M2C_N"            LOC = "AP21";   ## G3  on J64
NET "FMC_HPC_CLK1_M2C_P"            LOC = "AP20";   ## G2  on J64
NET "FMC_HPC_CLK2_M2C_IO_N"         LOC = "AC30";   ## 15  on U83
NET "FMC_HPC_CLK2_M2C_IO_P"         LOC = "AD30";   ## 16  on U83
NET "FMC_HPC_CLK2_M2C_MGT_C_N"      LOC = "AB5";    ## 2   on series C399 0.1uF
NET "FMC_HPC_CLK2_M2C_MGT_C_P"      LOC = "AB6";    ## 2   on series C398 0.1uF
NET "FMC_HPC_CLK3_M2C_IO_N"         LOC = "AF34";   ## J3  on J64
NET "FMC_HPC_CLK3_M2C_IO_P"         LOC = "AE34";   ## J2  on J64
NET "FMC_HPC_CLK3_M2C_MGT_C_N"      LOC = "AH5";    ## 2   on series C397 0.1uF
NET "FMC_HPC_CLK3_M2C_MGT_C_P"      LOC = "AH6";    ## 2   on series C396 0.1uF
NET "FMC_HPC_DP0_C2M_N"             LOC = "AB2";    ## C3  on J64
NET "FMC_HPC_DP0_C2M_P"             LOC = "AB1";    ## C2  on J64
NET "FMC_HPC_DP0_M2C_N"             LOC = "AC4";    ## C7  on J64
NET "FMC_HPC_DP0_M2C_P"             LOC = "AC3";    ## C6  on J64
NET "FMC_HPC_DP1_C2M_N"             LOC = "AD2";    ## A23 on J64
NET "FMC_HPC_DP1_C2M_P"             LOC = "AD1";    ## A22 on J64
NET "FMC_HPC_DP1_M2C_N"             LOC = "AE4";    ## A3  on J64
NET "FMC_HPC_DP1_M2C_P"             LOC = "AE3";    ## A2  on J64
NET "FMC_HPC_DP2_C2M_N"             LOC = "AF2";    ## A27 on J64
NET "FMC_HPC_DP2_C2M_P"             LOC = "AF1";    ## A26 on J64
NET "FMC_HPC_DP2_M2C_N"             LOC = "AF6";    ## A7  on J64
NET "FMC_HPC_DP2_M2C_P"             LOC = "AF5";    ## A6  on J64
NET "FMC_HPC_DP3_C2M_N"             LOC = "AH2";    ## A31 on J64
NET "FMC_HPC_DP3_C2M_P"             LOC = "AH1";    ## A30 on J64
NET "FMC_HPC_DP3_M2C_N"             LOC = "AG4";    ## A11 on J64
NET "FMC_HPC_DP3_M2C_P"             LOC = "AG3";    ## A10 on J64
NET "FMC_HPC_DP4_C2M_N"             LOC = "AK2";    ## A35 on J64
NET "FMC_HPC_DP4_C2M_P"             LOC = "AK1";    ## A34 on J64
NET "FMC_HPC_DP4_M2C_N"             LOC = "AJ4";    ## A15 on J64
NET "FMC_HPC_DP4_M2C_P"             LOC = "AJ3";    ## A14 on J64
NET "FMC_HPC_DP5_C2M_N"             LOC = "AM2";    ## A39 on J64
NET "FMC_HPC_DP5_C2M_P"             LOC = "AM1";    ## A38 on J64
NET "FMC_HPC_DP5_M2C_N"             LOC = "AL4";    ## A19 on J64
NET "FMC_HPC_DP5_M2C_P"             LOC = "AL3";    ## A18 on J64
NET "FMC_HPC_DP6_C2M_N"             LOC = "AN4";    ## B37 on J64
NET "FMC_HPC_DP6_C2M_P"             LOC = "AN3";    ## B36 on J64
NET "FMC_HPC_DP6_M2C_N"             LOC = "AM6";    ## B17 on J64
NET "FMC_HPC_DP6_M2C_P"             LOC = "AM5";    ## B16 on J64
NET "FMC_HPC_DP7_C2M_N"             LOC = "AP2";    ## B33 on J64
NET "FMC_HPC_DP7_C2M_P"             LOC = "AP1";    ## B32 on J64
NET "FMC_HPC_DP7_M2C_N"             LOC = "AP6";    ## B13 on J64
NET "FMC_HPC_DP7_M2C_P"             LOC = "AP5";    ## B12 on J64
NET "FMC_HPC_GBTCLK0_M2C_N"         LOC = "AD5";    ## D5  on J64
NET "FMC_HPC_GBTCLK0_M2C_P"         LOC = "AD6";    ## D4  on J64
NET "FMC_HPC_GBTCLK1_M2C_N"         LOC = "AK5";    ## B21 on J64
NET "FMC_HPC_GBTCLK1_M2C_P"         LOC = "AK6";    ## B20 on J64
NET "FMC_HPC_HA00_CC_N"             LOC = "AF33";   ## F5  on J64
NET "FMC_HPC_HA00_CC_P"             LOC = "AE33";   ## F4  on J64
NET "FMC_HPC_HA01_CC_N"             LOC = "AC29";   ## E3  on J64
NET "FMC_HPC_HA01_CC_P"             LOC = "AD29";   ## E2  on J64
NET "FMC_HPC_HA02_N"                LOC = "AC25";   ## K8  on J64
NET "FMC_HPC_HA02_P"                LOC = "AB25";   ## K7  on J64
NET "FMC_HPC_HA03_N"                LOC = "Y26";    ## J7  on J64
NET "FMC_HPC_HA03_P"                LOC = "AA25";   ## J6  on J64
NET "FMC_HPC_HA04_N"                LOC = "AC28";   ## F8  on J64
NET "FMC_HPC_HA04_P"                LOC = "AB28";   ## F7  on J64
NET "FMC_HPC_HA05_N"                LOC = "AC27";   ## E7  on J64
NET "FMC_HPC_HA05_P"                LOC = "AB27";   ## E6  on J64
NET "FMC_HPC_HA06_N"                LOC = "AA29";   ## K11 on J64
NET "FMC_HPC_HA06_P"                LOC = "AA28";   ## K10 on J64
NET "FMC_HPC_HA07_N"                LOC = "AB26";   ## J10 on J64
NET "FMC_HPC_HA07_P"                LOC = "AA26";   ## J9  on J64
NET "FMC_HPC_HA08_N"                LOC = "AF31";   ## F11 on J64
NET "FMC_HPC_HA08_P"                LOC = "AG31";   ## F10 on J64
NET "FMC_HPC_HA09_N"                LOC = "AB31";   ## E10 on J64
NET "FMC_HPC_HA09_P"                LOC = "AB30";   ## E9  on J64
NET "FMC_HPC_HA10_N"                LOC = "AC34";   ## K14 on J64
NET "FMC_HPC_HA10_P"                LOC = "AD34";   ## K13 on J64
NET "FMC_HPC_HA11_N"                LOC = "AG32";   ## J13 on J64
NET "FMC_HPC_HA11_P"                LOC = "AG33";   ## J12 on J64
NET "FMC_HPC_HA12_N"                LOC = "AE32";   ## F14 on J64
NET "FMC_HPC_HA12_P"                LOC = "AD32";   ## F13 on J64
NET "FMC_HPC_HA13_N"                LOC = "AD31";   ## E13 on J64
NET "FMC_HPC_HA13_P"                LOC = "AE31";   ## E12 on J64
NET "FMC_HPC_HA14_N"                LOC = "AA31";   ## J16 on J64
NET "FMC_HPC_HA14_P"                LOC = "AA30";   ## J15 on J64
NET "FMC_HPC_HA15_N"                LOC = "AC32";   ## F17 on J64
NET "FMC_HPC_HA15_P"                LOC = "AB32";   ## F16 on J64
NET "FMC_HPC_HA16_N"                LOC = "AB33";   ## E16 on J64
NET "FMC_HPC_HA16_P"                LOC = "AC33";   ## E15 on J64
NET "FMC_HPC_HA17_CC_N"             LOC = "W30";    ## K17 on J64
NET "FMC_HPC_HA17_CC_P"             LOC = "V30";    ## K16 on J64
NET "FMC_HPC_HA18_N"                LOC = "T34";    ## J19 on J64
NET "FMC_HPC_HA18_P"                LOC = "T33";    ## J18 on J64
NET "FMC_HPC_HA19_N"                LOC = "U32";    ## F20 on J64
NET "FMC_HPC_HA19_P"                LOC = "U33";    ## F19 on J64
NET "FMC_HPC_HA20_N"                LOC = "V33";    ## E19 on J64
NET "FMC_HPC_HA20_P"                LOC = "V32";    ## E18 on J64
NET "FMC_HPC_HA21_N"                LOC = "U30";    ## K20 on J64
NET "FMC_HPC_HA21_P"                LOC = "U31";    ## K19 on J64
NET "FMC_HPC_HA22_N"                LOC = "V29";    ## J22 on J64
NET "FMC_HPC_HA22_P"                LOC = "U28";    ## J21 on J64
NET "FMC_HPC_HA23_N"                LOC = "U27";    ## K23 on J64
NET "FMC_HPC_HA23_P"                LOC = "U26";    ## K22 on J64
NET "FMC_HPC_HB00_CC_N"             LOC = "AG30";   ## K26 on J64
NET "FMC_HPC_HB00_CC_P"             LOC = "AF30";   ## K25 on J64
NET "FMC_HPC_HB01_N"                LOC = "AM32";   ## J25 on J64
NET "FMC_HPC_HB01_P"                LOC = "AN32";   ## J24 on J64
NET "FMC_HPC_HB02_N"                LOC = "AP33";   ## F23 on J64
NET "FMC_HPC_HB02_P"                LOC = "AP32";   ## F22 on J64
NET "FMC_HPC_HB03_N"                LOC = "AM31";   ## E22 on J64
NET "FMC_HPC_HB03_P"                LOC = "AL30";   ## E21 on J64
NET "FMC_HPC_HB04_N"                LOC = "AL33";   ## F26 on J64
NET "FMC_HPC_HB04_P"                LOC = "AM33";   ## F25 on J64
NET "FMC_HPC_HB05_N"                LOC = "AN34";   ## E25 on J64
NET "FMC_HPC_HB05_P"                LOC = "AN33";   ## E24 on J64
NET "FMC_HPC_HB06_CC_N"             LOC = "AE26";   ## K29 on J64
NET "FMC_HPC_HB06_CC_P"             LOC = "AF26";   ## K28 on J64
NET "FMC_HPC_HB07_N"                LOC = "AH34";   ## J28 on J64
NET "FMC_HPC_HB07_P"                LOC = "AJ34";   ## J27 on J64
NET "FMC_HPC_HB08_N"                LOC = "AK32";   ## F29 on J64
NET "FMC_HPC_HB08_P"                LOC = "AK33";   ## F28 on J64
NET "FMC_HPC_HB09_N"                LOC = "AK34";   ## E28 on J64
NET "FMC_HPC_HB09_P"                LOC = "AL34";   ## E27 on J64
NET "FMC_HPC_HB10_N"                LOC = "AF29";   ## K32 on J64
NET "FMC_HPC_HB10_P"                LOC = "AF28";   ## K31 on J64
NET "FMC_HPC_HB11_N"                LOC = "AJ30";   ## J31 on J64
NET "FMC_HPC_HB11_P"                LOC = "AJ29";   ## J30 on J64
NET "FMC_HPC_HB12_N"                LOC = "AJ32";   ## F32 on J64
NET "FMC_HPC_HB12_P"                LOC = "AJ31";   ## F31 on J64
NET "FMC_HPC_HB13_N"                LOC = "AH32";   ## E31 on J64
NET "FMC_HPC_HB13_P"                LOC = "AH33";   ## E30 on J64
NET "FMC_HPC_HB14_N"                LOC = "AD27";   ## K35 on J64
NET "FMC_HPC_HB14_P"                LOC = "AE27";   ## K34 on J64
NET "FMC_HPC_HB15_N"                LOC = "AE29";   ## J34 on J64
NET "FMC_HPC_HB15_P"                LOC = "AE28";   ## J33 on J64
NET "FMC_HPC_HB16_N"                LOC = "AH30";   ## F35 on J64
NET "FMC_HPC_HB16_P"                LOC = "AH29";   ## F34 on J64
NET "FMC_HPC_HB17_CC_N"             LOC = "AG28";   ## K38 on J64
NET "FMC_HPC_HB17_CC_P"             LOC = "AG27";   ## K37 on J64
NET "FMC_HPC_HB18_N"                LOC = "AD26";   ## J37 on J64
NET "FMC_HPC_HB18_P"                LOC = "AD25";   ## J36 on J64
NET "FMC_HPC_HB19_N"                LOC = "AK31";   ## E34 on J64
NET "FMC_HPC_HB19_P"                LOC = "AL31";   ## E33 on J64
NET "FMC_HPC_LA00_CC_N"             LOC = "AF21";   ## G7  on J64
NET "FMC_HPC_LA00_CC_P"             LOC = "AF20";   ## G6  on J64
NET "FMC_HPC_LA01_CC_N"             LOC = "AL19";   ## D9  on J64
NET "FMC_HPC_LA01_CC_P"             LOC = "AK19";   ## D8  on J64
NET "FMC_HPC_LA02_N"                LOC = "AD20";   ## H8  on J64
NET "FMC_HPC_LA02_P"                LOC = "AC20";   ## H7  on J64
NET "FMC_HPC_LA03_N"                LOC = "AD19";   ## G10 on J64
NET "FMC_HPC_LA03_P"                LOC = "AC19";   ## G9  on J64
NET "FMC_HPC_LA04_N"                LOC = "AE19";   ## H11 on J64
NET "FMC_HPC_LA04_P"                LOC = "AF19";   ## H10 on J64
NET "FMC_HPC_LA05_N"                LOC = "AH22";   ## D12 on J64
NET "FMC_HPC_LA05_P"                LOC = "AG22";   ## D11 on J64
NET "FMC_HPC_LA06_N"                LOC = "AG21";   ## C11 on J64
NET "FMC_HPC_LA06_P"                LOC = "AG20";   ## C10 on J64
NET "FMC_HPC_LA07_N"                LOC = "AJ21";   ## H14 on J64
NET "FMC_HPC_LA07_P"                LOC = "AK21";   ## H13 on J64
NET "FMC_HPC_LA08_N"                LOC = "AJ22";   ## G13 on J64
NET "FMC_HPC_LA08_P"                LOC = "AK22";   ## G12 on J64
NET "FMC_HPC_LA09_N"                LOC = "AL18";   ## D15 on J64
NET "FMC_HPC_LA09_P"                LOC = "AM18";   ## D14 on J64
NET "FMC_HPC_LA10_N"                LOC = "AL20";   ## C15 on J64
NET "FMC_HPC_LA10_P"                LOC = "AM20";   ## C14 on J64
NET "FMC_HPC_LA11_N"                LOC = "AN22";   ## H17 on J64
NET "FMC_HPC_LA11_P"                LOC = "AM22";   ## H16 on J64
NET "FMC_HPC_LA12_N"                LOC = "AL21";   ## G16 on J64
NET "FMC_HPC_LA12_P"                LOC = "AM21";   ## G15 on J64
NET "FMC_HPC_LA13_N"                LOC = "AN18";   ## D18 on J64
NET "FMC_HPC_LA13_P"                LOC = "AP19";   ## D17 on J64
NET "FMC_HPC_LA14_N"                LOC = "AN20";   ## C19 on J64
NET "FMC_HPC_LA14_P"                LOC = "AN19";   ## C18 on J64
NET "FMC_HPC_LA15_N"                LOC = "AL23";   ## H20 on J64
NET "FMC_HPC_LA15_P"                LOC = "AM23";   ## H19 on J64
NET "FMC_HPC_LA16_N"                LOC = "AN23";   ## G19 on J64
NET "FMC_HPC_LA16_P"                LOC = "AP22";   ## G18 on J64
NET "FMC_HPC_LA17_CC_N"             LOC = "AM27";   ## D21 on J64
NET "FMC_HPC_LA17_CC_P"             LOC = "AN27";   ## D20 on J64
NET "FMC_HPC_LA18_CC_N"             LOC = "AJ25";   ## C23 on J64
NET "FMC_HPC_LA18_CC_P"             LOC = "AH25";   ## C22 on J64
NET "FMC_HPC_LA19_N"                LOC = "AN24";   ## H23 on J64
NET "FMC_HPC_LA19_P"                LOC = "AN25";   ## H22 on J64
NET "FMC_HPC_LA20_N"                LOC = "AL24";   ## G22 on J64
NET "FMC_HPC_LA20_P"                LOC = "AK23";   ## G21 on J64
NET "FMC_HPC_LA21_N"                LOC = "AP29";   ## H26 on J64
NET "FMC_HPC_LA21_P"                LOC = "AN29";   ## H25 on J64
NET "FMC_HPC_LA22_N"                LOC = "AP26";   ## G25 on J64
NET "FMC_HPC_LA22_P"                LOC = "AP27";   ## G24 on J64
NET "FMC_HPC_LA23_N"                LOC = "AM26";   ## D24 on J64
NET "FMC_HPC_LA23_P"                LOC = "AL26";   ## D23 on J64
NET "FMC_HPC_LA24_N"                LOC = "AM30";   ## H29 on J64
NET "FMC_HPC_LA24_P"                LOC = "AN30";   ## H28 on J64
NET "FMC_HPC_LA25_N"                LOC = "AM28";   ## G28 on J64
NET "FMC_HPC_LA25_P"                LOC = "AN28";   ## G27 on J64
NET "FMC_HPC_LA26_N"                LOC = "AL25";   ## D27 on J64
NET "FMC_HPC_LA26_P"                LOC = "AM25";   ## D26 on J64
NET "FMC_HPC_LA27_N"                LOC = "AP31";   ## C27 on J64
NET "FMC_HPC_LA27_P"                LOC = "AP30";   ## C26 on J64
NET "FMC_HPC_LA28_N"                LOC = "AJ27";   ## H32 on J64
NET "FMC_HPC_LA28_P"                LOC = "AK27";   ## H31 on J64
NET "FMC_HPC_LA29_N"                LOC = "AK28";   ## G31 on J64
NET "FMC_HPC_LA29_P"                LOC = "AL28";   ## G30 on J64
NET "FMC_HPC_LA30_N"                LOC = "AK24";   ## H35 on J64
NET "FMC_HPC_LA30_P"                LOC = "AJ24";   ## H34 on J64
NET "FMC_HPC_LA31_N"                LOC = "AK29";   ## G34 on J64
NET "FMC_HPC_LA31_P"                LOC = "AL29";   ## G33 on J64
NET "FMC_HPC_LA32_N"                LOC = "AG26";   ## H38 on J64
NET "FMC_HPC_LA32_P"                LOC = "AG25";   ## H37 on J64
NET "FMC_HPC_LA33_N"                LOC = "AH24";   ## G37 on J64
NET "FMC_HPC_LA33_P"                LOC = "AH23";   ## G36 on J64
NET "FMC_HPC_PG_M2C_LS"             LOC = "J27";    ## F1  on J64
NET "FMC_HPC_PRSNT_M2C_L"           LOC = "AP25";   ## H2  on J64
##
NET "FMC_LPC_CLK0_M2C_N"            LOC = "B10";    ## H5  on J63
NET "FMC_LPC_CLK0_M2C_P"            LOC = "A10";    ## H4  on J63
NET "FMC_LPC_CLK1_M2C_N"            LOC = "G33";    ## G3  on J63
NET "FMC_LPC_CLK1_M2C_P"            LOC = "F33";    ## G2  on J63
NET "FMC_LPC_DP0_C2M_N"             LOC = "D2";     ## C3  on J63
NET "FMC_LPC_DP0_C2M_P"             LOC = "D1";     ## C2  on J63
NET "FMC_LPC_DP0_M2C_N"             LOC = "G4";     ## C7  on J63
NET "FMC_LPC_DP0_M2C_P"             LOC = "G3";     ## C6  on J63
NET "FMC_LPC_GBTCLK0_M2C_N"         LOC = "M5";     ## D5  on J63
NET "FMC_LPC_GBTCLK0_M2C_P"         LOC = "M6";     ## D4  on J63
NET "FMC_LPC_IIC_SCL_LS"            LOC = "AF13";   ## 2   of Q26
NET "FMC_LPC_IIC_SDA_LS"            LOC = "AG13";   ## 2   of Q27
NET "FMC_LPC_LA00_CC_N"             LOC = "K27";    ## G7  on J63
NET "FMC_LPC_LA00_CC_P"             LOC = "K26";    ## G6  on J63
NET "FMC_LPC_LA01_CC_N"             LOC = "E31";    ## D9  on J63
NET "FMC_LPC_LA01_CC_P"             LOC = "F31";    ## D8  on J63
NET "FMC_LPC_LA02_N"                LOC = "H30";    ## H8  on J63
NET "FMC_LPC_LA02_P"                LOC = "G31";    ## H7  on J63
NET "FMC_LPC_LA03_N"                LOC = "J32";    ## G10 on J63
NET "FMC_LPC_LA03_P"                LOC = "J31";    ## G9  on J63
NET "FMC_LPC_LA04_N"                LOC = "J29";    ## H11 on J63
NET "FMC_LPC_LA04_P"                LOC = "K28";    ## H10 on J63
NET "FMC_LPC_LA05_N"                LOC = "H33";    ## D12 on J63
NET "FMC_LPC_LA05_P"                LOC = "H34";    ## D11 on J63
NET "FMC_LPC_LA06_N"                LOC = "J34";    ## C11 on J63
NET "FMC_LPC_LA06_P"                LOC = "K33";    ## C10 on J63
NET "FMC_LPC_LA07_N"                LOC = "H32";    ## H14 on J63
NET "FMC_LPC_LA07_P"                LOC = "G32";    ## H13 on J63
NET "FMC_LPC_LA08_N"                LOC = "K29";    ## G13 on J63
NET "FMC_LPC_LA08_P"                LOC = "J30";    ## G12 on J63
NET "FMC_LPC_LA09_N"                LOC = "L26";    ## D15 on J63
NET "FMC_LPC_LA09_P"                LOC = "L25";    ## D14 on J63
NET "FMC_LPC_LA10_N"                LOC = "G30";    ## C15 on J63
NET "FMC_LPC_LA10_P"                LOC = "F30";    ## C14 on J63
NET "FMC_LPC_LA11_N"                LOC = "D32";    ## H17 on J63
NET "FMC_LPC_LA11_P"                LOC = "D31";    ## H16 on J63
NET "FMC_LPC_LA12_N"                LOC = "E33";    ## G16 on J63
NET "FMC_LPC_LA12_P"                LOC = "E32";    ## G15 on J63
NET "FMC_LPC_LA13_N"                LOC = "C34";    ## D18 on J63
NET "FMC_LPC_LA13_P"                LOC = "D34";    ## D17 on J63
NET "FMC_LPC_LA14_N"                LOC = "B34";    ## C19 on J63
NET "FMC_LPC_LA14_P"                LOC = "C33";    ## C18 on J63
NET "FMC_LPC_LA15_N"                LOC = "B32";    ## H20 on J63
NET "FMC_LPC_LA15_P"                LOC = "C32";    ## H19 on J63
NET "FMC_LPC_LA16_N"                LOC = "B33";    ## G19 on J63
NET "FMC_LPC_LA16_P"                LOC = "A33";    ## G18 on J63
NET "FMC_LPC_LA17_CC_N"             LOC = "N29";    ## D21 on J63
NET "FMC_LPC_LA17_CC_P"             LOC = "N28";    ## D20 on J63
NET "FMC_LPC_LA18_CC_N"             LOC = "L30";    ## C23 on J63
NET "FMC_LPC_LA18_CC_P"             LOC = "L29";    ## C22 on J63
NET "FMC_LPC_LA19_N"                LOC = "N30";    ## H23 on J63
NET "FMC_LPC_LA19_P"                LOC = "M30";    ## H22 on J63
NET "FMC_LPC_LA20_N"                LOC = "R29";    ## G22 on J63
NET "FMC_LPC_LA20_P"                LOC = "P29";    ## G21 on J63
NET "FMC_LPC_LA21_N"                LOC = "T26";    ## H26 on J63
NET "FMC_LPC_LA21_P"                LOC = "R26";    ## H25 on J63
NET "FMC_LPC_LA22_N"                LOC = "P27";    ## G25 on J63
NET "FMC_LPC_LA22_P"                LOC = "N27";    ## G24 on J63
NET "FMC_LPC_LA23_N"                LOC = "R27";    ## D24 on J63
NET "FMC_LPC_LA23_P"                LOC = "R28";    ## D23 on J63
NET "FMC_LPC_LA24_N"                LOC = "P32";    ## H29 on J63
NET "FMC_LPC_LA24_P"                LOC = "N32";    ## H28 on J63
NET "FMC_LPC_LA25_N"                LOC = "P30";    ## G28 on J63
NET "FMC_LPC_LA25_P"                LOC = "P31";    ## G27 on J63
NET "FMC_LPC_LA26_N"                LOC = "M32";    ## D27 on J63
NET "FMC_LPC_LA26_P"                LOC = "L33";    ## D26 on J63
NET "FMC_LPC_LA27_N"                LOC = "R32";    ## C27 on J63
NET "FMC_LPC_LA27_P"                LOC = "R31";    ## C26 on J63
NET "FMC_LPC_LA28_N"                LOC = "M33";    ## H32 on J63
NET "FMC_LPC_LA28_P"                LOC = "N33";    ## H31 on J63
NET "FMC_LPC_LA29_N"                LOC = "P34";    ## G31 on J63
NET "FMC_LPC_LA29_P"                LOC = "N34";    ## G30 on J63
NET "FMC_LPC_LA30_N"                LOC = "M27";    ## H35 on J63
NET "FMC_LPC_LA30_P"                LOC = "M26";    ## H34 on J63
NET "FMC_LPC_LA31_N"                LOC = "L31";    ## G34 on J63
NET "FMC_LPC_LA31_P"                LOC = "M31";    ## G33 on J63
NET "FMC_LPC_LA32_N"                LOC = "M25";    ## H38 on J63
NET "FMC_LPC_LA32_P"                LOC = "N25";    ## H37 on J63
NET "FMC_LPC_LA33_N"                LOC = "K31";    ## G37 on J63
NET "FMC_LPC_LA33_P"                LOC = "K32";    ## G36 on J63
NET "FMC_LPC_PRSNT_M2C_L"           LOC = "AD9";    ## H2  on J63
##
## NET "FPGA_CCLK"                  LOC = "K8";     ## SEE NET "FLASH_NN" GROUP
NET "FPGA_DONE"                     LOC = "R8";     ## 2   on "DONE" LED DS13
NET "FPGA_DX_N"                     LOC = "W17";    ## 4   on J35
NET "FPGA_DX_P"                     LOC = "W18";    ## 2   on J35
## NET "FPGA_FCS_B"                 LOC = "Y24";    ## SEE NET "FLASH_NN" GROUP
## NET "FPGA_FOE_B"                 LOC = "AA24";   ## SEE NET "FLASH_NN" GROUP
## NET "FPGA_FWE_B"                 LOC = "AF23";   ## SEE NET "FLASH_NN" GROUP
##
NET "FPGA_INIT_B"                   LOC = "P8";     ## 1   on Q14 ("INIT" LED DS31 driver)
NET "FPGA_M0"                       LOC = "U8";     ## 3   on  S2 DIP switch (active-high)
NET "FPGA_M1"                       LOC = "W8";     ## 4   on  S2 DIP switch (active-high)
NET "FPGA_M2"                       LOC = "V8";     ## 4   on  S2 DIP switch (active-high)
NET "FPGA_PROG_B"                   LOC = "L8";     ## 1   on SW4 pushbutton (active-low)
NET "FPGA_TCK"                      LOC = "AE8";    ## 80  on U19
NET "FPGA_TDI"                      LOC = "AD8";    ## 82  on U19
NET "FPGA_TMS"                      LOC = "AF8";    ## 85  on U19
NET "FPGA_VBATT"                    LOC = "N8";     ## 1   on B1 (battery + terminal)
##
NET "GPIO_DIP_SW1"                  LOC = "D22";    ## 1   on SW1 DIP switch (active-high)
NET "GPIO_DIP_SW2"                  LOC = "C22";    ## 2   on SW1 DIP switch (active-high)
NET "GPIO_DIP_SW3"                  LOC = "L21";    ## 3   on SW1 DIP switch (active-high)
NET "GPIO_DIP_SW4"                  LOC = "L20";    ## 4   on SW1 DIP switch (active-high)
NET "GPIO_DIP_SW5"                  LOC = "C18";    ## 5   on SW1 DIP switch (active-high)
NET "GPIO_DIP_SW6"                  LOC = "B18";    ## 6   on SW1 DIP switch (active-high)
NET "GPIO_DIP_SW7"                  LOC = "K22";    ## 7   on SW1 DIP switch (active-high)
NET "GPIO_DIP_SW8"                  LOC = "K21";    ## 8   on SW1 DIP switch (active-high)
##
NET "GPIO_LED_0"                    LOC = "AC22";   ## 2   on LED DS12, 1 on J62
NET "GPIO_LED_1"                    LOC = "AC24";   ## 2   on LED DS11, 2 on J62
NET "GPIO_LED_2"                    LOC = "AE22";   ## 2   on LED DS9,  3 on J62
NET "GPIO_LED_3"                    LOC = "AE23";   ## 2   on LED DS10, 4 on J62
NET "GPIO_LED_4"                    LOC = "AB23";   ## 2   on LED DS15, 5 on J62
NET "GPIO_LED_5"                    LOC = "AG23";   ## 2   on LED DS14, 6 on J62
NET "GPIO_LED_6"                    LOC = "AE24";   ## 2   on LED DS22, 7 on J62
NET "GPIO_LED_7"                    LOC = "AD24";   ## 2   on LED DS21, 8 on J62
##
NET "GPIO_LED_C"                    LOC = "AP24";   ## 2   on LED DS16
NET "GPIO_LED_E"                    LOC = "AE21";   ## 2   on LED DS19
NET "GPIO_LED_N"                    LOC = "AH27";   ## 2   on LED DS20
NET "GPIO_LED_S"                    LOC = "AH28";   ## 2   on LED DS18
NET "GPIO_LED_W"                    LOC = "AD21";   ## 2   on LED DS17
##
NET "GPIO_SW_C"                     LOC = "G26";    ## 2   on SW9 pushbutton (active-high)
NET "GPIO_SW_E"                     LOC = "G17";    ## 2   on SW7 pushbutton (active-high)
NET "GPIO_SW_N"                     LOC = "A19";    ## 2   on SW5 pushbutton (active-high)
NET "GPIO_SW_S"                     LOC = "A18";    ## 2   on SW6 pushbutton (active-high)
NET "GPIO_SW_W"                     LOC = "H17";    ## 2   on SW8 pushbutton (active-high)
##
NET "IIC_SCL_DVI"                   LOC = "AN10";   ## 2   on Q5, 15 on U38
NET "IIC_SCL_MAIN_LS"               LOC = "AK9";    ## 2   on Q19
NET "IIC_SCL_SFP"                   LOC = "AA34";   ## 2   on Q23
NET "IIC_SDA_DVI"                   LOC = "AP10";   ## 2   on Q6, 14 on U38
NET "IIC_SDA_MAIN_LS"               LOC = "AE9";    ## 2   on Q20
NET "IIC_SDA_SFP"                   LOC = "AA33";   ## 2   on Q21
##
NET "LCD_DB4_LS"                    LOC = "AD14";   ## 4   on J41
NET "LCD_DB5_LS"                    LOC = "AK11";   ## 3   on J41
NET "LCD_DB6_LS"                    LOC = "AJ11";   ## 2   on J41
NET "LCD_DB7_LS"                    LOC = "AE12";   ## 1   on J41
NET "LCD_E_LS"                      LOC = "AK12";   ## 9   on J41
NET "LCD_RS_LS"                     LOC = "T28";    ## 11  on J41
NET "LCD_RW_LS"                     LOC = "AC14";   ## 10  on J41
##
NET "P30_CS_SEL"                    LOC = "AJ12";   ## 2   on S2 DIP switch (active-high),1 on U10
##
NET "PCIE_100M_MGT0_N"              LOC = "P5";     ## 15  on U14
NET "PCIE_100M_MGT0_P"              LOC = "P6";     ## 16  on U14
NET "PCIE_250M_MGT1_N"              LOC = "V5";     ## 18  on U9
NET "PCIE_250M_MGT1_P"              LOC = "V6";     ## 17  on U9
NET "PCIE_PERST_B_LS"               LOC = "AE13";   ## 4   on U32
NET "PCIE_RX0_N"                    LOC = "J4";     ## B15 on P1
NET "PCIE_RX0_P"                    LOC = "J3";     ## B14 on P1
NET "PCIE_RX1_N"                    LOC = "K6";     ## B20 on P1
NET "PCIE_RX1_P"                    LOC = "K5";     ## B19 on P1
NET "PCIE_RX2_N"                    LOC = "L4";     ## B24 on P1
NET "PCIE_RX2_P"                    LOC = "L3";     ## B23 on P1
NET "PCIE_RX3_N"                    LOC = "N4";     ## B28 on P1
NET "PCIE_RX3_P"                    LOC = "N3";     ## B27 on P1
NET "PCIE_RX4_N"                    LOC = "R4";     ## B34 on P1
NET "PCIE_RX4_P"                    LOC = "R3";     ## B33 on P1
NET "PCIE_RX5_N"                    LOC = "U4";     ## B38 on P1
NET "PCIE_RX5_P"                    LOC = "U3";     ## B37 on P1
NET "PCIE_RX6_N"                    LOC = "W4";     ## B42 on P1
NET "PCIE_RX6_P"                    LOC = "W3";     ## B41 on P1
NET "PCIE_RX7_N"                    LOC = "AA4";    ## B46 on P1
NET "PCIE_RX7_P"                    LOC = "AA3";    ## B45 on P1
NET "PCIE_TX0_N"                    LOC = "F2";     ## A17 on P1
NET "PCIE_TX0_P"                    LOC = "F1";     ## A16 on P1
NET "PCIE_TX1_N"                    LOC = "H2";     ## A22 on P1
NET "PCIE_TX1_P"                    LOC = "H1";     ## A21 on P1
NET "PCIE_TX2_N"                    LOC = "K2";     ## A26 on P1
NET "PCIE_TX2_P"                    LOC = "K1";     ## A25 on P1
NET "PCIE_TX3_N"                    LOC = "M2";     ## A30 on P1
NET "PCIE_TX3_P"                    LOC = "M1";     ## A29 on P1
NET "PCIE_TX4_N"                    LOC = "P2";     ## A36 on P1
NET "PCIE_TX4_P"                    LOC = "P1";     ## A35 on P1
NET "PCIE_TX5_N"                    LOC = "T2";     ## A40 on P1
NET "PCIE_TX5_P"                    LOC = "T1";     ## A39 on P1
NET "PCIE_TX6_N"                    LOC = "V2";     ## A44 on P1
NET "PCIE_TX6_P"                    LOC = "V1";     ## A43 on P1
NET "PCIE_TX7_N"                    LOC = "Y2";     ## A48 on P1
NET "PCIE_TX7_P"                    LOC = "Y1";     ## A47 on P1
NET "PCIE_WAKE_B_LS"                LOC = "AD22";   ## B11 on P1
##
NET "PHY_COL"                       LOC = "AK13";   ## 114 on U80
NET "PHY_CRS"                       LOC = "AL13";   ## 115 on U80
NET "PHY_INT"                       LOC = "AH14";   ## 32  on U80
NET "PHY_MDC"                       LOC = "AP14";   ## 35  on U80
NET "PHY_MDIO"                      LOC = "AN14";   ## 33  on U80
NET "PHY_RESET"                     LOC = "AH13";   ## 36  on U80
NET "PHY_RXCLK"                     LOC = "AP11";   ## 7   on U80
NET "PHY_RXCTL_RXDV"                LOC = "AM13";   ## 4   on U80
NET "PHY_RXD0"                      LOC = "AN13";   ## 3   on U80
NET "PHY_RXD1"                      LOC = "AF14";   ## 128 on U80
NET "PHY_RXD2"                      LOC = "AE14";   ## 126 on U80
NET "PHY_RXD3"                      LOC = "AN12";   ## 125 on U80
NET "PHY_RXD4"                      LOC = "AM12";   ## 124 on U80
NET "PHY_RXD5"                      LOC = "AD11";   ## 123 on U80
NET "PHY_RXD6"                      LOC = "AC12";   ## 121 on U80
NET "PHY_RXD7"                      LOC = "AC13";   ## 120 on U80
NET "PHY_RXER"                      LOC = "AG12";   ## 9   on U80
NET "PHY_TXCLK"                     LOC = "AD12";   ## 10  on U80
NET "PHY_TXCTL_TXEN"                LOC = "AJ10";   ## 16  on U80
NET "PHY_TXC_GTXCLK"                LOC = "AH12";   ## 14  on U80
NET "PHY_TXD0"                      LOC = "AM11";   ## 18  on U80
NET "PHY_TXD1"                      LOC = "AL11";   ## 19  on U80
NET "PHY_TXD2"                      LOC = "AG10";   ## 20  on U80
NET "PHY_TXD3"                      LOC = "AG11";   ## 24  on U80
NET "PHY_TXD4"                      LOC = "AL10";   ## 25  on U80
NET "PHY_TXD5"                      LOC = "AM10";   ## 26  on U80
NET "PHY_TXD6"                      LOC = "AE11";   ## 28  on U80
NET "PHY_TXD7"                      LOC = "AF11";   ## 29  on U80
NET "PHY_TXER"                      LOC = "AH10";   ## 13  on U80
##
## NET "PLATFLASH_L_B"              LOC = "AC23";   ## SEE NET "FLASH_NN" GROUP
##
NET "PMBUS_ALERT_LS"                LOC = "AH9";    ## 2   on Q15
NET "PMBUS_CLK_LS"                  LOC = "AC10";   ## 2   on Q18
NET "PMBUS_CTRL_LS"                 LOC = "AJ9";    ## 2   on Q16
NET "PMBUS_DATA_LS"                 LOC = "AB10";   ## 2   on Q17
##
NET "SFP_LOS"                       LOC = "V23";    ## 8   on P4
NET "SFP_RX_N"                      LOC = "E4";     ## 12  on P4
NET "SFP_RX_P"                      LOC = "E3";     ## 13  on P4
NET "SFP_TX_DISABLE_FPGA"           LOC = "AP12";   ## 1   on Q22
NET "SFP_TX_N"                      LOC = "C4";     ## 19  on P4
NET "SFP_TX_P"                      LOC = "C3";     ## 18  on P4
##
NET "SGMIICLK_QO_N"                 LOC = "H5";     ## 2   on series C55 0.1uF
NET "SGMIICLK_QO_P"                 LOC = "H6";     ## 2   on series C56 0.1uF
NET "SGMII_RX_N"                    LOC = "B6";     ## 1   on series C163 0.01uF
NET "SGMII_RX_P"                    LOC = "B5";     ## 1   on series C162 0.01uF
NET "SGMII_TX_N"                    LOC = "A4";     ## 1   on series C164 0.01uF
NET "SGMII_TX_P"                    LOC = "A3";     ## 1   on series C165 0.01uF
##
NET "SMA_REFCLK_N"                  LOC = "F5";     ## 1   on series C61 0.1uF
NET "SMA_REFCLK_P"                  LOC = "F6";     ## 1   on series C62 0.1uF
NET "SMA_RX_N"                      LOC = "D6";     ## 1   on series C57 0.1uF
NET "SMA_RX_P"                      LOC = "D5";     ## 1   on series C58 0.1uF
NET "SMA_TX_N"                      LOC = "B2";     ## 1   on J27 SMA
NET "SMA_TX_P"                      LOC = "B1";     ## 1   on J26 SMA
##
NET "SM_FAN_PWM"                    LOC = "L10";    ## 1   on Q24
NET "SM_FAN_TACH"                   LOC = "M10";    ## 2   on R368
##
NET "SYSACE_CFGTDI"                 LOC = "AC8";    ## 81  on U19
NET "SYSACE_D0"                     LOC = "AM15";   ## 66  on U19
NET "SYSACE_D1"                     LOC = "AJ17";   ## 65  on U19
NET "SYSACE_D2"                     LOC = "AJ16";   ## 63  on U19
NET "SYSACE_D3"                     LOC = "AP16";   ## 62  on U19
NET "SYSACE_D4"                     LOC = "AG16";   ## 61  on U19
NET "SYSACE_D5"                     LOC = "AH15";   ## 60  on U19
NET "SYSACE_D6"                     LOC = "AF16";   ## 59  on U19
NET "SYSACE_D7"                     LOC = "AN15";   ## 58  on U19
NET "SYSACE_MPA00"                  LOC = "AC15";   ## 70  on U19
NET "SYSACE_MPA01"                  LOC = "AP15";   ## 69  on U19
NET "SYSACE_MPA02"                  LOC = "AG17";   ## 68  on U19
NET "SYSACE_MPA03"                  LOC = "AH17";   ## 67  on U19
NET "SYSACE_MPA04"                  LOC = "AG15";   ## 45  on U19
NET "SYSACE_MPA05"                  LOC = "AF15";   ## 44  on U19
NET "SYSACE_MPA06"                  LOC = "AK14";   ## 43  on U19
NET "SYSACE_MPBRDY"                 LOC = "AJ15";   ## 39  on U19
NET "SYSACE_MPCE"                   LOC = "AJ14";   ## 42  on U19
NET "SYSACE_MPIRQ"                  LOC = "L9";     ## 41  on U19
NET "SYSACE_MPOE"                   LOC = "AL15";   ## 77  on U19
NET "SYSACE_MPWE"                   LOC = "AL14";   ## 76  on U19
##
NET "SYSCLK_N"                      LOC = "H9";     ## 5   on U11, 5 on U89 (DNP)
NET "SYSCLK_P"                      LOC = "J9";     ## 4   on U11, 4 on U89 (DNP)
##
NET "USB_1_CTS"                     LOC = "T24";    ## 22  on U34
NET "USB_1_RTS"                     LOC = "T23";    ## 23  on U34
NET "USB_1_RX"                      LOC = "J25";    ## 24  on U34
NET "USB_1_TX"                      LOC = "J24";    ## 25  on U34
##
NET "USB_A0_LS"                     LOC = "Y32";    ## 14  on U30
NET "USB_A1_LS"                     LOC = "W26";    ## 2   on U29
NET "USB_CS_B_LS"                   LOC = "W27";    ## 18  on U29
NET "USB_D0_LS"                     LOC = "R33";    ## 8   on U31
NET "USB_D1_LS"                     LOC = "R34";    ## 14  on U31
NET "USB_D2_LS"                     LOC = "T30";    ## 6   on U31
NET "USB_D3_LS"                     LOC = "T31";    ## 16  on U31
NET "USB_D4_LS"                     LOC = "T29";    ## 4   on U31
NET "USB_D5_LS"                     LOC = "V28";    ## 18  on U31
NET "USB_D6_LS"                     LOC = "V27";    ## 2   on U31
NET "USB_D7_LS"                     LOC = "U25";    ## 12  on U30
NET "USB_D8_LS"                     LOC = "Y28";    ## 14  on U29
NET "USB_D9_LS"                     LOC = "W32";    ## 8   on U29
NET "USB_D10_LS"                    LOC = "W31";    ## 12  on U29
NET "USB_D11_LS"                    LOC = "Y29";    ## 2   on U30
NET "USB_D12_LS"                    LOC = "W29";    ## 18  on U30
NET "USB_D13_LS"                    LOC = "Y34";    ## 4   on U30
NET "USB_D14_LS"                    LOC = "Y33";    ## 16  on U30
NET "USB_D15_LS"                    LOC = "Y31";    ## 6   on U30
NET "USB_INT_LS"                    LOC = "Y27";    ## 6   on U29
NET "USB_RD_B_LS"                   LOC = "W25";    ## 16  on U29
NET "USB_RESET_B_LS"                LOC = "T25";    ## 8   on U30
NET "USB_WR_B_LS"                   LOC = "V25";    ## 4   on U29
##
NET "USER_CLOCK"                    LOC = "U23";    ## 5   on X5
NET "USER_SMA_CLOCK_N"              LOC = "M22";    ## 1   on J55 SMA
NET "USER_SMA_CLOCK_P"              LOC = "L23";    ## 1   on J58 SMA
NET "USER_SMA_GPIO_N"               LOC = "W34";    ## 1   on J56 SMA
NET "USER_SMA_GPIO_P"               LOC = "V34";    ## 1   on J57 SMA
##
NET "VAUX_CURR_N"                   LOC = "P26";    ## 1   on series R373 1.00K
NET "VAUX_CURR_P"                   LOC = "P25";    ## 1   on series R370 1.00K
NET "VAUX_VOLT_N"                   LOC = "M28";    ## 1   on series R371 1.00K
NET "VAUX_VOLT_P"                   LOC = "L28";    ## 1   on series R372 1.00K